{% set service_options = option.service_configuation %}
{% set current_service = option.service_configuation|filter(option => option.service == current_url) %}

{% extends "base.twig" %}

{% block content %}
    {# {{dump(option)}} #}
    <section class="container mx-auto service-page flex justify-between">
        <article class="w-full">
            <nav>
                <ul class="flex">
                    <li class="mr-2 text-brand-blue hover:underline"><a href="/services/">Services</a>  </li>
                    <li> -> </li>
                    <li class="ml-2 text-brand-blue hover:underline"><a href="#">{{post.title}}</a></li>
                </ul>
            </nav>
            <h1 class="text-6xl font-semibold pt-10">{{ post.title }}</h1>
            {% if current_service is not empty %}
                {% set current_service = current_service|first %}

                <div class="bg-brand-blue text-white p-4 my-6 w-fit">
                    <span> Starting from £{{current_service.price_min}}</span>
                </div>
            {% else %}
                <div class="bg-brand-blue text-white p-4 my-6 w-fit">
                    <span> {{option.no_price_text}} </span>
                </div>
            {% endif  %} 
            <div class="flex flex-col md:flex-row">
                <div class="max-w-[500px] lg:max-w-[900px] xl:w-[900px] md:mr-8 lg:mr-24">
                    {{ post.content }}
                </div>
                <aside class="max-w-[300px] lg:pr-4">
                    {% if option.service_boxes[0] %}
                        {% set box = option.service_boxes[0] %}
                    <div class="bg-brand-blue text-white p-8 mb-6 w-fit flex flex-col items-between">
                        <span class="mb-6 text-lg">{{box.box_text}}</span>
                        {% include './components/button/arrow.twig' with {text: box.buttons['text'], url: box.buttons['url'].url, theme:'white', size: 'lg'} %}
                    </div>
                    {% endif %}

                    {% if option.service_boxes[1] %}
                        {% set box = option.service_boxes[1] %}

                        <div class="bg-brand-blue-light text-white p-8 my-6 w-fit flex flex-col items-between">
                            <span class="mb-6 text-lg text-brand-blue">{{box.box_text}}</span>
                            {% include './components/button/arrow.twig' with {text: box.buttons['text'], url: box.buttons['url'].url, size: 'lg'} %}
                        </div>

                    {% endif %}

                </aside>
            </div>
            
        </article>
       
    </section>
{% endblock %}
